.border{
    border: 2px solid red;
}
.flex{
   display: flex;
   
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.direction{
    flex-direction: column;
}
.bg_black{
    background-color: black;
    color: white;
}
.bg_grey{
    background-color: #121212;
    color: white;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

::-webkit-scrollbar-track {
    background-color:#222;
  }
::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 6px;/* Darker color for the scrollbar handle */
  }
::-webkit-scrollbar {
    width: 12px; /* Lighter color for the scrollbar handle on hover */
  }
  